*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, header{
  background-color: rgb(252, 243, 230);
}

body{
  background-color: rgb(252, 243, 230);
  font-family:'Montserrat', sans-serif;
}

.barraMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  margin-left: 50px;
  margin-right: 20px;
}

.barraMenu a{
text-decoration: none;
}

.menuItens{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-right: 50px;
  margin-left: 5px;
}

.menuItens a{
  text-decoration: none;
  color: rgb(77, 74, 66);
  margin-right: 20px;
  font-weight: 300;
  font-size: 25px;
}

.menuItens a:hover{
  color: rgb(207, 200, 189);
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barraMenu h2{
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: rgb(32, 31, 27);
  margin-left: 20px;
  margin-right: 40px;
  cursor: pointer;
}



.barraMenu h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: rgb(32, 31, 27);
  margin-left: 20px;
  margin-right: 40px;
  cursor: pointer;
}

/*Galeria*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 30px 50px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*Sobre*/
.tudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.flex-container{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(252, 243, 230);
  padding: 20px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;  
}

.foto-perfil{
    margin-top: 20px;
    width: 400px;
    border-radius: 5px;
}

.titulos{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.titulos h2{
  font-size: 40px;
  font-weight: 300;
}

.titulos h5{
  font-size: 25px;
  font-weight: 300;
}

.titulos p{
  font-size: 18px;
  word-break: break-all;
  text-align: center;
  
}

/*Sobre*/
.contatos{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(252, 243, 230);
  padding: 20px 30px;
  margin-top: 30px;
  width: 90%; 
  font-family: 'Montserrat', sans-serif; 
}

.redes-sociais{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro{
  font-size: 20px;
  font-weight: 300;
}

.email{
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline;
}

.item-rede{
  font-size: 22px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.item-rede a{
  text-decoration: none;
  color: rgb(252, 243, 230);
}

.item-rede a:hover{
  color:rgb(207, 200, 189);
}

.rede-logo{
  margin: 10px;
}
